<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>

<!-- Main Content-->
<main class="container">
<div class="jumbotron">
  <h1 class="display-6" align="center"></h1> 
</div>
</main>

<!-- Partials Assigned Per Page-->
<% if (title == "Home") { %>
  <%- include partials/main.ejs%>
<% } else if (title == "Create") { %>
  <%- include survey/create.ejs%>
<% } else if (title == "Surveys") { %>
  <%- include survey/list.ejs%>
    <% } %>

<%- include partials/bottom_nav.ejs%>
<%- include partials/footer.ejs%>