<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>

<!-- Content for the Summary of Answer Survey Page-->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
        <h1><%= title %></h1>
        <form class="form" method="POST">

            <div class="form-group">
              <label for="a1TextField">Answer 1:</label>
              <input type="text" class="form-control"   disabled="true"
              id="a1TextField" 
              placeholder="Answer for Question 1"
              name="a1"
              value="<%= survey.a1 %>"
              required>
            </div>
    
          <br>
            
            <div class="form-group">
              <label for="a2TextField">Answer 2:</label>
              <input type="text" class="form-control"  disabled="true"
              id="a2TextField" 
              placeholder="Answer for Question 2"
              name="a2"
              value="<%= survey.a2 %>"
              required>
            </div>
    
          <br>
    
            <div class="form-group">
              <label for="a3TextField">Answer 3:</label>
              <input type="text" class="form-control"  disabled="true"
              id="a3TextField" 
              placeholder="Answer for Question 3"
              name="a3"
              value="<%= survey.a3 %>"
              required>
            </div>
    
          <br>

    </form>
    </div>
</div>


<%- include ../partials/bottom_nav.ejs%>
<%- include ../partials/footer.ejs%>